[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/reactive-smart-contract-demos"]
	path = lib/reactive-smart-contract-demos
	url = https://github.com/Reactive-Network/reactive-smart-contract-demos
